body {
    font-family: system-ui;
    background: #dddedf;
    color: rgb(0, 0, 0);
  }
  .topnav {
    background-color: rgb(156, 183, 196);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }

  .maincontainer{
    display: block;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: rgb(200 212 217);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .topbar{
    background-color: white;
    /* height: 4rem; */
    align-items: flex-start;
    font-size: 17px;
    font-weight: 600;
    padding: 10px;
  }
  .iconimg{
    height: 5rem;
  }
  .toptext{
    position: absolute;
    top: 4%;
  }
  .options{
    display: grid;
    padding: 15px;
  }
  .options button{
    margin: 5px;
    padding: 5px;
  }

  .framepage{
    height: 8rem;
    width: 8rem;
  }

  iframe{
    width: 78rem;
    height: 45rem;
  }

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}